body{
    background-color: rgb(0, 0, 0);
    color:black
}
button{
    font-size: 25px;
    height: 100px;
    width: 12%;
    border-radius: 12%;
    border-color: #3c8292;
    background-color: #24c2e6;
    margin: 15px 20px 0 10px;
}
.image{
    width: 25%;
    height: 25%;
}
strong{
    color:rgb(255, 36, 36)
}
.strong2{
    color:rgb(0, 255, 0)
}
div{
    display:flex;
}
.imgg{
    
}
h1{
    margin: 40px 500px 30px 10px;
    color: white;
}
.formas{
    font-size: 30px;
}
a{
    color: black;
    font-size: 20px;
    text-decoration:none;
}
section{
    color:white;
    margin:10px 20px 0px 62px;
}
p{
    color: white;
}